@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #D94F4F; /* Salsa Tomato */
  --secondary-color: #FFF3E2; /* Creamy Vanilla */
  --accent-color: #6B8E23; /* Olive Green */
  --main-text-color: #333333; /* Charcoal Gray */
  --secondary-text-color: #666666; /* Ash Gray */
  --light-background: #FAFAFA; /* Snow White */
}
