---
import '../styles/global.css';
import Header from '../components/header';

// Recibe el projectId desde cada página
export interface Props {
  projectId: string;
}
const { projectId } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>MasterCook</title>

    <!-- Tracking -->
   <script async src="https://fancy-axolotl-68d543.netlify.app/tracker.js" data-ackee-server="https://fancy-axolotl-68d543.netlify.app" data-ackee-domain-id="d0d5bd34-d616-4404-8474-bc3c6cf36b07"></script>
  </head>
  <body>
    <Header client:load />
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    font-family: "Poppins", sans-serif;
  }
</style>