---
import '../styles/global.css';
import Header from '../components/header';

// Recibe el projectId desde cada página
export interface Props {
  projectId: string;
}
const { projectId } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>MasterCook</title>

    <!-- Tracking -->
    <script define:vars={{ projectId }}>
  (() => {
    fetch('http://localhost:4321/api/projects/track-secure', {
      method: 'POST',
      headers: { 'Content-Type': 'application/json' },
      body: JSON.stringify({
        project_id: projectId,
        path: window.location.pathname + window.location.search,
        referrer: document.referrer || null
      })
    }).catch(() => {});
  })();
</script>
  </head>
  <body>
    <Header client:load />
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #FAFAFA;
    font-family: "Poppins", sans-serif;
  }
</style>